{% extends "frontpage/base.html" %}
<!-- custom template tags -->
{% load my_extras %}
{% block content %}
{% load static %}
<title>PRPRealEstate</title>

<style>

  #data-name{
    color: black;
  }
  #data-intro{
    color: black;
  }
</style>

  <div class="container">
    <h1 id='data-name' class="display-4">NWMLS Market Reports:</h1>
    <p id='data-intro' class="lead">These market reports present an overview of the Real Estate market in WA. If you'd like to see previous months, please send me a request via e-mail.</p>
    <p>
  </div>


  <div id="data1-container" class="container">
    <input id='data-btn-one' type="button" class="btn btn-info" value='NWMLS: July Residential + Condo recap by county'>
    <p>
      Compares activity and volume for the month to the same month one year ago.
      <iframe id='data-one' src="{% static "rprealestate/pdf/recaps_2020_jul_Recaps.pdf" %}" style="height:0px; width:0px; border:0px"></iframe>
    </p>
  </div>

  <div id="data2-container" class="container">
    <input id='data-btn-two' type="button" class="btn btn-info" value='NWMLS: July YTD Summary'>
    <p>
      Month-by-month summary and activity reports on all property types, and on residential, condominium sales and construction.
      <iframe id='data-two' src="{% static "rprealestate/pdf/reportssum_2020_jul_YTDSummary.pdf" %}" style="height:0px; width:0px; border:0px"></iframe>
    </p>
  </div>

  <div id="data3-container" class="container">
    <input id='data-btn-three' type="button" class="btn btn-info" value='NWMLS: July Price Range and Bedrooms'>
    <p>
      Comparison reports on active listings, pending sales and closed sales based on price and number of bedrooms.
      <iframe id='data-three' src="{% static "rprealestate/pdf/reportssum_2020_jul_PriceUnits.pdf" %}" style="height:0px; width:0px; border:0px"></iframe>
    </p>
  </div>

  <div id="data4-container" class="container">
    <input id='data-btn-four' type="button" class="btn btn-info" value='NWMLS: July Summary Report'>
    <p>
      County totals for active listings, pending & closed sales reports.
      <iframe id='data-four' src="{% static "rprealestate/pdf/reportssum_2020_jul_summary.pdf" %}" style="height:0px; width:0px; border:0px"></iframe>
    </p>
  </div>
<script src = "{% static "rprealestate/js/data.js" %}"></script>
{% endblock %}
