<!DOCTYPE html>
{% extends "frontpage/base.html" %}
<!-- custom template tags -->
{% load my_extras %}
{% block content %}
{% load static %}
<title>PSRPRealEstate</title>


  <div id='about_container-data' class="container">
    <div id='row-one' class="row">
      <!-- ROW STARTS HERE -->
      <div class="col-md-4" style="font-family: 'Rubik', sans-serif;">
        <h2>About Me</h2>
        <p>
          I know how difficult and stressful a Real Estate transaction can be, which is why I guarantee an experience that you will not soon forget! In addition to great service,
          my fee structure is very flexible.
        </p>
        <p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            View Details »
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">About:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="font-family: 'Rubik', sans-serif;">
                  <p>Hi, I am Ruslan. I am a real estate broker with North Pacific Properties.</p>
                  <p> North Pacific Properties is a privately owned real estate firm awarded 29th of the most successful companies in Puget Sound.
                      North Pacific Properties is a full service real estate brokerage company located in Seattle, Washington. Our central mission
                      is to provide our clients with expert and well-rounded real estate service throughout the Seattle and surrounding King County,
                      Kitsap County, and Snohomish County areas while meeting the individual needs of our clients, one client at a time.
                  </p>
                  <p>
                     I grew up in Seattle and I love all the Pacific Northwest has to offer. Some of my favorite neighborhoods include Queen Anne,
                     Capitol Hill, Ballard, Sand Point, Shoreline, and Edmonds. I hold a B.A. in Economics from UW and a Masters of Science in Finance
                     from Seattle University. My goal is to make real estate as enjoyable and stress free as possible through my experience in real estate
                     and my knowledge in finance.
                  </p>
                  <p>
                    In addition to real estate, I also enjoy developing Web Applications in JavaScript and Python. I created this website as a fun side project
                    using Django 3.0.3 and Bootstrap V4.5. I will continue to improve and add features to this website so if there is something else you would like to see, please let me know.
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </p>
      </div>

      <div id='blog' class="col-md-4" style="font-family: 'Rubik', sans-serif;">
        <h2>Real Estate News</h2>
        <p>
          Developments in the PNW real estate market.
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterNews">
          View details »
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenterNews" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">News:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- blog STARTS here -->
                News Article:
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-newspaper" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M0 2A1.5 1.5 0 0 1 1.5.5h11A1.5 1.5 0 0 1 14 2v12a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 0 14V2zm1.5-.5A.5.5 0 0 0 1 2v12a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V2a.5.5 0 0 0-.5-.5h-11z"/>
                  <path fill-rule="evenodd" d="M15.5 3a.5.5 0 0 1 .5.5V14a1.5 1.5 0 0 1-1.5 1.5h-3v-1h3a.5.5 0 0 0 .5-.5V3.5a.5.5 0 0 1 .5-.5z"/>
                  <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                  <br>
                  Market Statistics:
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calculator" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z"/>
                  </svg>
                </svg>
                <div class="container">
                  <div class="col-sm-8" style="background-color:#ECECEC;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-newspaper" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 2A1.5 1.5 0 0 1 1.5.5h11A1.5 1.5 0 0 1 14 2v12a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 0 14V2zm1.5-.5A.5.5 0 0 0 1 2v12a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V2a.5.5 0 0 0-.5-.5h-11z"/>
                      <path fill-rule="evenodd" d="M15.5 3a.5.5 0 0 1 .5.5V14a1.5 1.5 0 0 1-1.5 1.5h-3v-1h3a.5.5 0 0 0 .5-.5V3.5a.5.5 0 0 1 .5-.5z"/>
                      <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                   </svg>
                    <a href="https://www.seattletimes.com/business/amazon/amazon-continues-hiring-push-in-tech-hubs-with-former-hq2-new-york-in-line-for-2000-jobs/" style='color: black;'>
                      Amazon continues hiring push in tech hubs, with former HQ2 New York in line for 2,000 jobs </a>
                  </div>
                </div>
                <p>
                <div class="container">
                  <div class="col-sm-8" style="background-color:#e6f2ff;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-newspaper" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 2A1.5 1.5 0 0 1 1.5.5h11A1.5 1.5 0 0 1 14 2v12a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 0 14V2zm1.5-.5A.5.5 0 0 0 1 2v12a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V2a.5.5 0 0 0-.5-.5h-11z"/>
                      <path fill-rule="evenodd" d="M15.5 3a.5.5 0 0 1 .5.5V14a1.5 1.5 0 0 1-1.5 1.5h-3v-1h3a.5.5 0 0 0 .5-.5V3.5a.5.5 0 0 1 .5-.5z"/>
                      <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                   </svg>
                    <a href="https://www.seattletimes.com/business/real-estate/peter-g-miller-how-many-mortgage-payments-can-i-miss-before-foreclosure/" style='color: black;'>
                      How many mortgage payments can I miss before foreclosure? </a>
                  </div>
                </div>
                <p>
                <div class="container">
                  <div class="col-sm-8" style="background-color:#ECECEC;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-newspaper" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 2A1.5 1.5 0 0 1 1.5.5h11A1.5 1.5 0 0 1 14 2v12a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 0 14V2zm1.5-.5A.5.5 0 0 0 1 2v12a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V2a.5.5 0 0 0-.5-.5h-11z"/>
                      <path fill-rule="evenodd" d="M15.5 3a.5.5 0 0 1 .5.5V14a1.5 1.5 0 0 1-1.5 1.5h-3v-1h3a.5.5 0 0 0 .5-.5V3.5a.5.5 0 0 1 .5-.5z"/>
                      <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                   </svg>
                    <a href="https://www.king5.com/article/entertainment/television/programs/new-day-northwest/buy-and-sell-real-estate-homes/281-5eb3be6f-86ee-4b68-b981-f0d9ac5f3d9a" style='color: black;'>
                      It's still a good time to buy and sell a house in the PNW (With a few caveats) </a>
                  </div>
                </div>
                <p>
                <div class="container">
                  <div class="col-sm-8" style="background-color:#e6f2ff;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calculator" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z"/>
                    </svg>
                    <a href="https://www.pnwr.com/blog/opportunities-abound-for-home-buyers-and-sellers-but-brokers-say-dont-delay/" style='color: black;'>
                      Opportunities abound for home buyers and sellers, but brokers say don’t delay </a>
                  </div>
                </div>
                <p>
                <div class="container">
                  <div class="col-sm-8" style="background-color:#ECECEC;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calculator" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z"/>
                    </svg>
                    <a href="https://www.pnwr.com/blog/northwest-mls-brokers-report-robust-activity-amid-low-interest-rates-tight-inventory-changing-lifestyles/" style='color: black;'>
                      Northwest MLS brokers report robust activity amid low interest rates, tight inventory, changing lifestyles</a>
                  </div>
                </div>
                <!-- blog ENDS here -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>


      <div id='data' class="col-md-4" style="font-family: 'Rubik', sans-serif;">
        <h2>Charts</h2>
        <p>
          Are you data driven? Data never lies and allows you to make smarter decisions. If you are curious about current trends, I refresh
          the NWMLS reports on a monthly basis. If you have any questions or would like to see more, please head over to my <a id='c-link' color='blue' href="{% url 'frontpage:contactform' %}">contact form</a>, there you can submit your questions.
        </p>
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterData">View details »</button>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalCenterData" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Data:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div class="container">
                  <h1 id='data-name' class="display-5">NWMLS YTD Charts:</h1>
                  <p id='data-intro' class="lead">This data represents King County YTD! If you would like to see a different county or something more specific, please send me an e-mail request.</p>
                  <p>
                </div>

                <div id='nwmls-chart-one' class="container">
                 <img width="700" height="600" src="http://nwmls.stats.showingtime.com/infoserv/s-v1/uzPA-66y?w=800&h=600" />
                </div>
                <div id='nwmls-chart-two' class="container">
                  <img width="700" height="600" src="http://nwmls.stats.showingtime.com/infoserv/s-v1/uzPq-NiY?w=800&h=600" />
                </div>
                <div id='nwmls-chart-two' class="container">
                  <img width="700" height="600" src="http://nwmls.stats.showingtime.com/infoserv/s-v1/uzPX-Eor?w=800&h=600" />
                </div>
                <div id='nwmls-chart-two' class="container">
                  <img width="700" height="600" src="http://nwmls.stats.showingtime.com/infoserv/s-v1/uzPr-vF6?w=800&h=600" />
                </div>
                <div id='nwmls-chart-two' class="container">
                  <img width="700" height="600" src="http://nwmls.stats.showingtime.com/infoserv/s-v1/uzPa-xb0?w=800&h=600" />
                </div>
                <div id='nwmls-chart-two' class="container">
                  <img width="700" height="600" src="http://nwmls.stats.showingtime.com/infoserv/s-v1/uzPi-IAR?w=800&h=600" />
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" style="font-family: 'Rubik', sans-serif;">
        <h2>Data</h2>
        <p>
          I update reports on a monthly basis. These are data tables that are state wide.
        </p>
        <!-- Button -->
        <a class="btn btn-primary" href="{% url 'frontpage:data' %}">View details »</a>

      </div>
    </div>
    <p><br>
      <hr style="border-top: dotted 1px;" />
    <p>
    <div class="row">
      <div class="col-sm-8" style="font-family: 'Rubik', sans-serif;">
        <h2>My Favorite Neighborhoods:</h2><p>
        Having been raised in Seattle since the early '90s, I've had a front row seat to this city's transformation into the tech giant that it is today.
        Currently Seattle is undergoing an extensive change spurred by the success of Amazon, which has now surpassed Microsoft as the richest publicly owned
        company in the world.<p>
        As a result, Seattle is assuming its place among major vibrant, energetic metropolises like New York City and Los Angeles. With this growth, the city offers increased
        amentities for attendees and highlights its best offerings.
        <p>
        Ballard:<br>
        Biscuit & Bean, Reuben's Brews, Gracia, Stone Gardens, Ballard Locks, Trailbend Taprooms, Ballard Market, are just a few names that I think about when someone says, "Let's go to Ballard".
        I can spend an entire day roaming around Ballard and still not see everything. When I was a kid, my parents toook me to the Ballard Locks during the summer and I got to see the Pacific Salmon
        pass through the Locks. If you were lucky, you got to see a seal on the hunt for some Salmon. On the weekends, my wife and I will wake up early...ish and make our way to the Ballard Market where
        buy all our fresh ingredients for the week. If you're hungry and skipped breakfast, you can always grab a bite from any number of food vendors that are cooking that day.
        <p>
        Fremont:<br>
        I remember the first time I saw the Fremont Troll. I was just a kid when my dad slowly drove up 36th and all of a sudden, he said,
        "Hey, what's that?" pointing at the troll. I didn't know what to think, it was huge! Back then the VW wasn't filled with cement, the city only did that so nobody would get hurt while crawling inside. From
        that day on, any time someone said Fremont, I thought of that Troll. But as much as I love the Fremont Troll, there is far more to Fremont: Fremont Brewing Company, Schilling Cider House, Fainting Goat Gelato,
        Theo Chocolate, Jive Time Records, Portage Bay Goods, and Milstead & Co. I love Fremont even more because you're a hop, skip, and a jump from Gas Works Park which is absolutely amazing during the summer. and
        if you love running or biking, the Burke-Gilman Trail, also known as the Burke, is right around the corner.
        <p>
        Queen Anne: <a href="{% static "rprealestate/pdf/98119.pdf" %}"><span class="badge badge-pill badge-info">Queen Anne Market</span></a><br>
        If there is one neighborhood in the Seattle that has changed more than any other, it's probably going to be Queen Anne. I know this because I went to middle school there: New Options Middle School, also knows as just N.O.M.S.
        This was back in the mid '90s and I'll never forget it. The school is no longer there but the building remains. You can read more about it <a href="https://www.historylink.org/File/10563">here</a>; it was actually
        built around 1862. I love Queen Anne because it sits on top of a hill and is super close to the Space Needle, Chihuly Garden and Glass, and Seattle Center. The reason this is important is because once a year
        during about the third week of the month of July, this happens, <a href="https://www.biteofseattle.com/">The Bite of Seattle</a> and it's at the Seattle Center. It is arguably one of my favorite events of the year
        and I make every effort to go. I love the entertainment, the food, the beer, and all the attractions this event brings. If you've never been, I highly recommend it.
        <p>
        Greenwood: <a href="{% static "rprealestate/pdf/98103.pdf" %}"><span class="badge badge-pill badge-info">Greenlake/Greenwood Market</span></a>
        <a href="{% static "rprealestate/pdf/98117.pdf" %}"><span class="badge badge-pill badge-info">Greenwood/LoyalHeights Market</span></a>
        <br>
        Known as the area around 85th Street and Greenwood Avenue is booming with coffeehouses, antique stores, bars, and eateries. One of my favorite restaurants to visit is
        Flintcreek Cattle and is located on corner of 85th and Greenwood Ave N. Once a year, Greenwood hosts the Greenwood Car Show that happens every June and the Seafair Parade in August.
        If you love classic cars, the Car Show is definitely the event for you. Right after the Car Show you can head over to Chucks' Hop Shop, proudly deemed "The Land of a Thousand Beers". It also
        features a rotating schedule of daily food trucks - making it the perfect spot for a quick bite and a beer! And if you have a sweet tooth, don't forget the homemade truffles at Chocolati
        Cafe.
        <p>
        Capitol Hill:<br>

        <p>
        WestSeattle: <a href="{% static "rprealestate/pdf/98119.pdf" %}"><span class="badge badge-pill badge-info">WestSeattle Market</span></a><br>


        <p>
        Last but not least:
        This is by no means the entire list of neighborhoods in Seattle. These are the neighborhoods that I grew up around and visited frequently. If you're interested in learning more about the current



      </div>
      <div class="col-sm-4">
        <embed type="video/quicktime" src="https://www.greenwoodcarshow.com/" width="300" height="300">
        <embed type="video/quicktime" src="https://flintcreekseattle.com/" width="300" height="300">
        <embed type="video/quicktime" src="https://townandcountrymarkets.com/store-landings/ballard-market/" width="300" height="300">
        <embed type="video/quicktime" src="https://www.biteofseattle.com/" width="300" height="300">
      </div>
    </div>
  </div>
  <script src = "{% static "rprealestate/js/master.js" %}"></script>
{% endblock %}
