.techfont {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bigbrand{
  font-size: 1.5em;
  transition: 0.2s all !important;
}

.bigbrand:hover {
    transform: scale(1.1);
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}


.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'PT Serif', serif;
  font-szie: 3em;
  text-align: center;
}

.header-text > a {
  color: rgb(64,64,64) !important;
}

.postcontent{
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

/* COLOR CHANGER BELOW */

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
