<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>PRP Real Estate</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- my own css -->

    <style>
      #home:hover {
        color: #808080;
      }
      #contact:hover {
        color: #808080;
      }
      #npp:hover {
        color: #808080;
      }
      #bottom-footer{
        text-align: center;
        background-color: #F0F0F0;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
      #footer-row{
        width: 100%;
      }
    </style>

    <link rel="stylesheet" href="{% static "rprealestate/css/master.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse col-sm-3">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand" href="{% url 'index' %}">
              <h5 id='home'>Home</h5>
            </a>
          </li>
          <li>
            <a class="navbar-brand" href="{% url 'frontpage:contactform' %}">
              <h5 id='contact'>Contact</h5>
            </a>
          </li>
        </ul>
      </div>
      <div id='middle-align' class="col-sm-6" style="display: block; text-align: center"></div>
      <div id='npp' class="col-sm-3" style="text-align: right;">
        <a id='npp' class="navbar-brand" href="https://www.northpacificproperties.com/">North Pacific Properties</a>
      </div>
  </nav>
    {% block content %}

    {% endblock %}
    <footer id='bottom-footer' class="footer">
      <p><small><b>CONTACT ME</p></b></small>
      <p><small>I am here to help with all your real estate needs and questions. Let me know what's on your mind and start a conversation.</small></p>
      <div id='footer-row' class="row">
        <div id='cont-one' class="col-sm-3">
          <small id='email'><b>E-MAIL<br>ruslan@northpacificproperties.com</b></small>
        </div>
        <div id='cont-two' class="col-sm-3"></div>
        <div id='cont-three' class="col-sm-3"></div>
        <div id=cont-four class="col-sm-3">
          <small><b>MOBILE<br>206-601-2325</b></small>
        </div>
      </div>
    </footer>
  </body>
</html>
