{% extends "frontpage/base.html" %}
<!-- custom template tags -->
{% load my_extras %}
{% block content %}
{% load static %}
<title>PRPRealEstate</title>

<style>
  #divider{
    border-color: white;
    border-radius: 1px;
  }
  #data-jumbo{
    background-image: url({% static "rprealestate/images/birds.jpg" %});
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #name{
    color: white;
  }
  #main-intro{
    color: white;
  }
</style>

<div id='data-jumbo' class="jumbotron">
  <div class="container">

    <h1 id='name' class="display-4">Ruslan Polyak</h1>
    <p id='main-intro' class="lead">Experienced realtor in the Pacific Northwest!</p>
    <hr id='divider' class="my-4">
    <p id='main-intro'>If you have question or would like to see additional data, please use the contact form to submit your request.</p>
  </div>
</div>

<div id="data1-container" class="container">
  <input id='data-btn-one' type="button" class="btn btn-info" value='NWMLS: July Residential + Condo recap by county'>
  <p>
    Compares activity and volume for the month to the same month one year ago.
    <iframe id='data-one' src="{% static "rprealestate/pdf/recaps_2020_jul_Recaps.pdf" %}" style="height:0px; width:0px; border:0px"></iframe>
  </p>
</div>

<div id="data2-container" class="container">
  <input id='data-btn-two' type="button" class="btn btn-info" value='NWMLS: July YTD Summary'>
  <p>
    Month-by-month summary and activity reports on all property types, and on residential, condominium sales and construction.
    <iframe id='data-two' src="{% static "rprealestate/pdf/reportssum_2020_jul_YTDSummary.pdf" %}" style="height:0px; width:0px; border:0px"></iframe>
  </p>
</div>

<div id="data3-container" class="container">
  <input id='data-btn-three' type="button" class="btn btn-info" value='NWMLS: July Price Range and Bedrooms'>
  <p>
    Comparison reports on active listings, pending sales and closed sales based on price and number of bedrooms.
    <iframe id='data-three' src="{% static "rprealestate/pdf/reportssum_2020_jul_PriceUnits.pdf" %}" style="height:0px; width:0px; border:0px"></iframe>
  </p>
</div>

<div id="data4-container" class="container">
  <input id='data-btn-four' type="button" class="btn btn-info" value='NWMLS: July Summary Report'>
  <p>
    County totals for active listings, pending & closed sales reports.
    <iframe id='data-four' src="{% static "rprealestate/pdf/reportssum_2020_jul_summary.pdf" %}" style="height:0px; width:0px; border:0px"></iframe>
  </p>
</div>

<script src = "{% static "rprealestate/js/data.js" %}"></script>
{% endblock %}
