<!DOCTYPE html>
{% extends "frontpage/base.html" %}
<!-- custom template tags -->
{% load my_extras %}
{% block content %}
{% load static %}
<title>PSRPRealEstate</title>

  <style>
    #index-jumbo{
      background-image: url({% static "rprealestate/images/seattle-three-med.jpg" %});
      opacity: 1;
      background-size: cover;
    }
    #name{
      color: white;
    }
    #main-intro{
      color: white;
    }
    #divider{
      border-color: white;
      border-radius: 1px;
    }
  </style>

  <div id='index-jumbo' class="jumbotron">
    <div id ="index-container" class="container">
        <h1 id='name' class="display-4">Ruslan Polyak</h1>
        <p id='main-intro' class="lead">Experienced realtor in the Pacific Northwest!</p>
        <hr id='divider' class="my-4">
        <p id='main-intro'>I would love to learn about you to see how I can help you in the Northwest real estate market!</p>
        <!-- <div id='call-button' class="container"> -->
        <button id='free-consultation' class="btn btn-info"><b>GET FREE CONSULTATION</b></button>
        <!-- </div> -->
    </div>
  </div>
  <div id='about_container' class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>About</h2>
        <p>
          I know how difficult and stressful a Real Estate transaction can be, which is why I guarantee an experience that you will not soon forget! In addition to great service,
          my fee structure is very flexible.
        </p>
        <p>
          <a class="btn btn-warning" href="{% url 'frontpage:about' %}">View details »</a>
        </p>
      </div>
      <div id='blog' class="col-md-4">
        <h2>My Blog</h2>
        <p>
          Developments in the PNW real estate market.
        </p>
        <p>
          <a class="btn btn-warning" href="{% url 'frontpage:blog' %}">View details »</a>
        </p>
      </div>
      <div id='data' class="col-md-4">
        <h2>Real Estate Data</h2>
        <p>
          Are you data driven? Data never lies and allows you to make smarter decisions. If you are curious about current trends, I refresh
          the NWMLS reports on a monthly basis. If you have any questions or would like to see more, please head over to my <a id='c-link' color='blue' href="{% url 'frontpage:contactform' %}">contact form</a>, there you can submit your questions.
        </p>
        <p>
          <a class="btn btn-warning" href="{% url 'frontpage:data' %}">View details »</a>
        </p>
      </div>
    </div>
  </div>
  <script src = "{% static "rprealestate/js/master.js" %}"></script>
{% endblock %}
